body{
  margin: 0px !important;
  padding: 0px !important;
  height: 100% !important;
  min-height: 100vh !important;
  width: 100% !important;
  background: #111;
  position: relative;


  #bodyBg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #111;
    background-position: 50% 50% !important;
    -webkit-background-size:  cover !important;
    background-size: cover;
    background-attachment: fixed !important;
    -webkit-transition: opacity 400ms linear;
    -moz-transition: opacity 400ms linear;
    -o-transition: opacity 400ms linear;
    transition: opacity 400ms linear;
    opacity: 0;

    &.active{
      opacity: 1;
    }
  }


  #navigation-banner{
    position: relative;
    top: 0;
    width: 100%;
    height: 86px;
//    -webkit-transition: all 400ms linear;
//    -moz-transition: all 400ms linear;
//    -o-transition: all 400ms linear;
//    transition: all 400ms linear;
//
//
//    &:hover{
//      background: rgba(5, 5, 5, 0.35);
//    }

  }

  #navigation{
    z-index: 10;
    position: relative;
    font-family: "proxima-nova", sans-serif;
    font-weight: 800;


    .logo{
      position: relative;
      top: 15px;

      font-size: 38px;
      color:#fff;
      cursor: pointer;


      &:hover{

        .logo_letter_animation{
          opacity: 1 !important;
          -webkit-transform: translateY(0px) skew(0deg, 0deg) !important;
          -moz-transform: translateY(0px) skew(0deg, 0deg) !important;
          -ms-transform: translateY(0px) skew(0deg, 0deg) !important;
          -o-transform: translateY(0px) skew(0deg, 0deg) !important;
          transform: translateY(0px) skew(0deg, 0deg) !important;
        }

        #l_hide_logo{
          transform:  translateX(-10px) scaleX(-0.5) !important;
          opacity: 0 !important;
          -webkit-transition-delay: 20ms;
          -moz-transition-delay: 20ms;
          -o-transition-delay: 20ms;
          transition-delay: 20ms;
        }
        #j_logo{
          color: #fff;
        }
      }


      .logo_letter_animation{
        position: absolute;

        -webkit-transition: all 200ms linear;
        -moz-transition: all 200ms linear;
        -o-transition: all 200ms linear;
        transition: all 200ms linear;

        -webkit-transition-delay: 300ms;
        -moz-transition-delay: 300ms;
        -o-transition-delay: 300ms;
        transition-delay: 300ms;

        display: inline-block;
        margin: 0; padding: 0;
      }
      #j_logo{
        color: #eee;
      }
      #l_hide_logo{
        left:20px;
        opacity: 1;
        display: inline-block;
        -webkit-transition-delay: 600ms;
        -moz-transition-delay: 600ms;
        -o-transition-delay: 600ms;
        transition-delay: 600ms;
        color: #fff;
      }
      #o_logo{
        left:19px;
        -webkit-transition-duration: 250ms;
        -moz-transition-duration: 250ms;
        -o-transition-duration: 250ms;
        transition-duration: 250ms;
      }
      #e_logo{
        left: 48px;
        -webkit-transition-duration: 300ms;
        -moz-transition-duration: 300ms;
        -o-transition-duration: 300ms;
        transition-duration: 300ms;
      }
      #y_logo{
        left: 72px;
        -webkit-transition-duration: 350ms;
        -moz-transition-duration: 350ms;
        -o-transition-duration: 350ms;
        transition-duration: 350ms;
      }

      #l_logo{
        left: 105px;
        -webkit-transition-duration: 450ms;
        -moz-transition-duration: 450ms;
        -o-transition-duration: 450ms;
        transition-duration: 450ms;
        -webkit-transform: translateY(16px);
        -moz-transform: translateY(16px);
        -ms-transform: translateY(16px);
        -o-transform: translateY(16px);
        transform: translateY(16px);
      }

      #ey_logo{
        left: 125px;
        -webkit-transition-duration: 500ms;
        -moz-transition-duration: 500ms;
        -o-transition-duration: 500ms;
        transition-duration: 500ms;
        -webkit-transform: translateY(16px);
        -moz-transform: translateY(16px);
        -ms-transform: translateY(16px);
        -o-transform: translateY(16px);
        transform: translateY(16px);
      }
      #a_logo{
        left: 148px;
        -webkit-transition-duration: 550ms;
        -moz-transition-duration: 550ms;
        -o-transition-duration: 550ms;
        transition-duration: 550ms;
        -webkit-transform: translateY(16px);
        -moz-transform: translateY(16px);
        -ms-transform: translateY(16px);
        -o-transform: translateY(16px);
        transform: translateY(16px);
      }


      #o_logo,#e_logo,#y_logo,#l_logo,#ey_logo,#a_logo{
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
        opacity: 0;
      }

    }
    .navigation-links{
      position: relative;
      top: 28px;
      font-size: 18px;
      color: #fff;
      font-weight: 100;
      display: inline-block;
      -webkit-transition: all 200ms linear;
      -moz-transition: all 200ms linear;
      -o-transition: all 200ms linear;
      transition: all 200ms linear;


      &.menu-links:hover{
        .menu{
          opacity: 0.5;
          -webkit-transition-delay: 0ms;
          -moz-transition-delay: 0ms;
          -o-transition-delay: 0ms;
          transition-delay: 0ms;
          -webkit-transform: translateX(0px) translateY(0px) rotate(90deg);
          -moz-transform: translateX(0px) translateY(0px) rotate(90deg);
          -ms-transform: translateX(0px) translateY(0px) rotate(90deg);
          -o-transform: translateX(0px) translateY(0px) rotate(90deg);
          transform: translateX(0px) translateY(0px) rotate(90deg);
        }

        .links-show{
          opacity: 1;
          position: relative;

          a{
            pointer-events: auto;
            opacity: 1;
            -webkit-transition-delay: 400ms;
            -moz-transition-delay: 400ms;
            -o-transition-delay: 400ms;
            transition-delay: 400ms;
            -webkit-transform: translateX(6px);
            -moz-transform: translateX(6px);
            -o-transform: translateX(6px);
            transform: translateX(6px);

            &:hover{
              -webkit-transition-delay: 0ms;
              -moz-transition-delay: 0ms;
              -o-transition-delay: 0ms;
              transition-delay: 0ms;
            }

            &:nth-child(1)
            {
              -webkit-transform: translateX(3px);
              -moz-transform: translateX(3px);
              -o-transform: translateX(3px);
              transform: translateX(3px);
            }
            &:nth-child(2)
            {
              -webkit-transform: translateX(6px);
              -moz-transform: translateX(6px);
              -o-transform: translateX(6px);
              transform: translateX(6px);
            }

          }

        }
      }
      
      .links-show{
        position: relative;
        opacity: 0;
        overflow: hidden;
        bottom: 4px;
        -webkit-transition: all 200ms linear;
        -moz-transition: all 200ms linear;
        -o-transition: all 200ms linear;
        transition: all 200ms linear;
        -webkit-transition-delay: 100ms;
        -moz-transition-delay: 100ms;
        -o-transition-delay: 100ms;
        transition-delay: 100ms;
        a{
          display: inline-block;
          pointer-events: none;
          position: relative;
          font-weight: 800;
          margin: auto 3px;
          color: rgba(255,255,255,0.665);
          text-decoration: none;
          -webkit-transition: all 300ms linear;
          -moz-transition: all 300ms linear;
          -o-transition: all 300ms linear;
          transition: all 300ms linear;
          -webkit-transition-delay: 0ms !important;
          -moz-transition-delay: 0ms !important;
          -o-transition-delay: 0ms !important;
          transition-delay: 0ms !important;
          -webkit-transform: translateX(20px);
          -moz-transform: translateX(20px);
          -o-transform: translateX(20px);
          transform: translateX(20px);
          opacity: 0;

          &:hover{
            color: #FFF;
          }
        }

      }
      .menu{
        opacity: 1;
        position: relative;
        top:0px;
        font-size: 28px;
        -webkit-transition: all 200ms linear;
        -moz-transition: all 200ms linear;
        -o-transition: all 200ms linear;
        transition: all 200ms linear;
        -webkit-transition-delay: 200ms;
        -moz-transition-delay: 200ms;
        -o-transition-delay: 200ms;
        transition-delay: 200ms;
        color: #fff;
      }



    }

  }

  #body{
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    color: #fff;
    min-height: 450px;
    overflow: hidden;
    max-width: 100%;

    #intro{
      margin-top: 120px;
      margin-bottom: 50px;
      -webkit-transition: margin 200ms linear;
      -moz-transition: margin 200ms linear;
      -o-transition: margin 200ms linear;
      transition: margin 200ms linear;

      /* Medium devices (desktops, 992px and down) */
      @media (max-width: 992px) {
        margin-top: 80px;
      }
      /* Small devices (desktops, 768px and down) */
      @media (max-width: 768px) {
        margin-top: 50px;
      }

      h1,h2,h3,h4{
        font-weight: 600;
      }
      .bolder{
        font-weight: 800;
      }

      .block{
        position: relative;
        display: block;
        padding: 45px 20px;
        -webkit-transition: background 200ms linear, transform 500ms linear;
        -moz-transition: background 200ms linear, transform 500ms linear;
        -o-transition: background 200ms linear, transform 500ms linear;
        transition: background 200ms linear, transform 500ms linear;
        font-size: 1.25em;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        margin-bottom:20px;

        -webkit-animation: slideUp 1.35s;
        animation: slideUp 1.35s;


        @-webkit-keyframes slideUp {
          0% {
            transform: translateY(25px);
            opacity: 0;
          }
          20%{
            opacity: 0;
          }
          80% {
            transform: translateY(0px);
          }
          100% {
            opacity: 1;
          }
        }

        @keyframes slideUp {
          0% {
            transform: translateY(25px);
            opacity: 0;
          }
          20%{
            opacity: 0;
          }
          80% {
            transform: translateY(0px);
          }
          100% {
            opacity: 1;
          }
        }

        &:hover{
          .top-bar,.bottom-bar{
            background: #ffe38b;
          }
        }
        
        &.no-pad{
          padding: 0;
        }
        
        img{
          max-width: 100%;
          border-radius: 10px;
        }

        .jump{
          position: relative;
          -webkit-transition: transform 400ms linear;
          -moz-transition: transform 400ms linear;
          -o-transition: transform 400ms linear;
          transition: transform 400ms linear;
          cursor: pointer;

          &:hover{
            -webkit-transform: translateY(-20px);
            -moz-transform: translateY(-20px);
            -o-transform: translateY(-20px);
            transform: translateY(-20px);
          }
        }
        .small-jump{
          position: relative;
          -webkit-transition: transform 400ms linear;
          -moz-transition: transform 400ms linear;
          -o-transition: transform 400ms linear;
          transition: transform 400ms linear;

          &:hover{
            -webkit-transform: translateY(-7px);
            -moz-transform: translateY(-7px);
            -o-transform: translateY(-7px);
            transform: translateY(-7px);
          }
        }

        .error-bag{
          display: block;
          position: relative;
          bottom: 15px;
          color: #fff;
          border-left: 5px solid rgba(155, 0, 0, 0.24);
          background: rgba(1,1,1,0.40);
          border-top-right-radius: 10px;
          border-bottom-left-radius: 20px;
          padding: 8px;
        }

        .success-bag{
          display: block;
          position: relative;
          bottom: 15px;
          color: #edffff;
          border-left: 5px solid rgba(51, 155, 72, 0.24);
          background: rgba(1,1,1,0.40);
          border-top-right-radius: 10px;
          border-bottom-left-radius: 20px;
          padding: 8px;
        }


        .links{
          position: relative;
          margin-top: 40px;
          a{
            font-weight: 800;
            color:#fff;
            text-shadow: 0px 1px 1px rgba(1,1,1,0.6);
            padding: 10px;
            border: 3px solid #fff;
            margin: 4px;
            position: relative;
            display: inline-block;
            white-space: nowrap;
            text-decoration: none;
            -webkit-transition: all 300ms linear;
            -moz-transition: all 300ms linear;
            -o-transition: all 300ms linear;
            transition: all 300ms linear;

            &:hover{

              background: rgba(55,55,55,0.25);

            }

          }
        }



        .top-bar{
          top: -10px;
          left: -15px;
          position: absolute;
          display: block;
          width: 100px;
          height: 10px;
          background: rgba(255,255,255,0.9);
        }
        .bottom-bar{
          bottom: -10px;
          right: -15px;
          position: absolute;
          display: block;
          width: 100px;
          height: 10px;
          background: rgba(255,255,255,0.9);
        }

      }
      .white-block{
        background: #fff;
        padding: 20px;
        color: #222;
        font-size: 1.15em;
      }
    }

  }

  #photo-bank{
    display: none;
    img{
      display: none;
      width: 0;
      height: 0;
    }
  }

  #photo-player{
    position: fixed;
    /* Small devices (desktops, 768px and down) */
    @media (max-width: 768px) {
      position: absolute;
    }
    opacity: 0.65;
    bottom: 0px;
    padding: 20px 20px 60px 20px;
    margin-bottom: 0px;
    border: 0px solid rgba(92, 184, 92, 0.25);
    border-radius: 3px;
    left: 15px;
    width: 250px;
    height: 40px;
    z-index: 10;
    color: #fff;
    font-size: 15px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    -webkit-transition: opacity 300ms linear, background 500ms linear, border 200ms linear;
    -moz-transition: opacity 300ms linear, background 500ms linear, border 200ms linear;
    -o-transition: opacity 300ms linear, background 500ms linear, border 200ms linear;
    transition: opacity 300ms linear, background 500ms linear, border 200ms linear;

    &:hover{
      opacity: 0.9;
      background: rgba(1,1,1,0.65);
      border-bottom: 5px solid rgba(92, 184, 92, 0.25);
    }

    #photo-controls{
      #photo-caption{
        opacity: 0.5;
      }
      #photo-left,#photo-right{
        opacity: 0.8;
        cursor: pointer;
        &:hover{
          opacity: 1;
        }
      }

    }

  }
  
  #portfolio{
    position: relative;
    z-index: 1;
    text-align: center;

    .row{
//      opacity: 0.5;
      -webkit-transition: opacity 400ms linear;
      -moz-transition: opacity 400ms linear;
      -o-transition: opacity 400ms linear;
      transition: opacity 400ms linear;
//      &:hover{
//        opacity: 1;
//      }

      .p-opt{
//        opacity: 0.85;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-transition: all 0ms linear;
        -moz-transition: all 0ms linear;
        -o-transition: all 0ms linear;
        transition: all 0ms linear;
        width:100%;
        height: 100%;

        position: relative;
        -webkit-animation: slideUp 1.35s;
        animation: slideUp 1.35s;
        overflow: hidden;

        &:hover{
          opacity: 1;
          -webkit-transition: opacity 200ms linear, border 500ms linear 200ms;
          -moz-transition: opacity 200ms linear, border 500ms linear 200ms;
          -o-transition: opacity 200ms linear, border 500ms linear 200ms;
          transition: opacity 200ms linear, border 500ms linear 200ms;


          img {
            border: 0 solid transparent;
          }

          .caption{
            .bold, p, .circle-links{
              -webkit-animation: slideUp 1.85s 1 400ms;
              animation: slideUp 1.85s 1 400ms;

              &.circle-links{
                -webkit-animation-duration: 3s;
                -moz-animation-duration: 3s;
                -o-animation-duration: 3s;
                animation-duration: 3s;

              }
              
            }

            hr{
              width: 70px;
              -webkit-animation: openWide 1.85s 1 200ms;
              animation: openWide 1.85s 1 200ms;

              @-webkit-keyframes openWide {
                0% {
                  width: 0;
                }
                100% {
                  width: 70px;
                }
              }

              @keyframes openWide {
                0% {
                  width: 0;
                }
                100% {
                  width: 70px;
                }
              }
            }
            transition-delay: 400ms;
            opacity: 1;
          }
        }


        .caption{
          position: absolute;
          height:100%;
          min-height: 100%;
          width:100%;
          background: rgba(0,0,0,0.85);
          color: #fff;
          z-index: 5;
          font-family: "proxima-nova", sans-serif;
          top: 0;
          pointer-events: none;
          opacity: 0;
          transition: opacity 300ms linear;

          .circle-links{
            pointer-events: visible;
            position: relative;
            top: 15px;
            margin-bottom: 22px;
            font-size: 1.5em;
            a{
              color: #999;
              display: inline-block;
              margin: 0 10px;
              -webkit-transition: color 300ms linear;
              -moz-transition: color 300ms linear;
              -o-transition: color 300ms linear;
              transition: color 300ms linear;

              &:hover{
                color: #fff;
              }
            }
          }

          h3{
            text-transform: uppercase;
          }
          .table-box{
            display: table;
            width: 100%;
            height: 100%;
          }
          .table-cell{
            width: 100%;
            vertical-align: middle;
            height: 100%;
            display: table-cell;
          }

          .bold{
            font-weight: 800;
            color: #fff;
          }
          hr{
            max-width: 70px;
            width: 0;
            border-color: rgba(255, 220, 135, 0.36);
          }
          p{
            font-size: 11px;
            font-family: 'Verdana', sans-serif;
          }
        }
        
        .block{
          padding: 10px;
          font-size: 1.2em;
          font-family: "proxima-nova", sans-serif;
          color: #fff;

        }

        img{
          position: relative;
          -webkit-transition: border 200ms linear;
          -moz-transition: border 200ms linear;
          -o-transition: border 200ms linear;
          transition: border 200ms linear;
          border-radius: 1px;
          width: 100%;
          border: 18px solid transparent;

        }
      }

    }
    

  }

}
